html, body {
  overflow-x: hidden;
  margin: 0;
  background: #0f0016;
  color: #fff;
  font-family: "Inter", sans-serif;
}

.create-account,
.create-account * {
  box-sizing: border-box;
}
.create-account {
  background: #0f0016;
  height: 832px;
  position: relative;
  overflow: hidden;
}
.group-273 {
  position: absolute;
  inset: 0;
}
.group-260 {
  width: 663px;
  height: 762px;
  position: static;
}
.rectangle-4 {
  background: linear-gradient(
    180deg,
    rgba(162, 11, 232, 1) 0.4807692486792803%,
    rgba(71, 0, 104, 1) 36.057692766189575%,
    rgba(15, 0, 22, 1) 81.25%
  );
  border-radius: 50px;
  width: 663px;
  height: 762px;
  position: absolute;
  left: 42px;
  top: 34px;
}
.group-259 {
  width: 663px;
  height: 353px;
  position: static;
}
.group-29 {
  width: 663px;
  height: 83px;
  position: static;
}
.get-started-with-us {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  left: 62.46px;
  top: 343px;
  width: 624.08px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-text-stroke: 1px #ffffff;
}
.complete-these-easy-steps-to-register-your-accaunt {
  color: #747474;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 42px;
  top: 407px;
  width: 663px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.group-256 {
  width: 300px;
  height: 70px;
  position: static;
}
.rectangle-14 {
  background: #f2f2f2;
  border-radius: 15px;
  width: 300px;
  height: 70px;
  position: absolute;
  left: 224px;
  top: 458px;
}
.group-255 {
  width: 213px;
  height: 38px;
  position: static;
}
.sing-up-your-account {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  left: 297px;
  top: 484px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-text-stroke: 0.5px #000000;
}
.group-254 {
  width: 38px;
  height: 38px;
  position: static;
}
.ellipse-2 {
  background: #222020;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  position: absolute;
  left: 237px;
  top: 474px;
}
._1 {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 251px;
  top: 481px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.group-257 {
  width: 300px;
  height: 70px;
  position: static;
}
.rectangle-142 {
  background: #2f2f2f;
  border-radius: 15px;
  border-style: solid;
  border-color: #2f2f2f;
  border-width: 1px;
  width: 300px;
  height: 70px;
  position: absolute;
  left: 224px;
  top: 542px;
}
.group-2552 {
  width: 208px;
  height: 38px;
  position: static;
}
.confirm-your-email {
  color: #a5a4a4;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 302px;
  top: 568px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ellipse-22 {
  background: #484848;
  border-radius: 50%;
  border-style: solid;
  border-color: #2f2f2f;
  border-width: 1px;
  width: 38px;
  height: 38px;
  position: absolute;
  left: 237px;
  top: 558px;
}
._2 {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 250px;
  top: 565px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-text-stroke: 1px #2f2f2f;
}
.group-258 {
  width: 300px;
  height: 70px;
  position: static;
}
.rectangle-143 {
  background: #2f2f2f;
  border-radius: 15px;
  border-style: solid;
  border-color: #2f2f2f;
  border-width: 1px;
  width: 300px;
  height: 70px;
  position: absolute;
  left: 224px;
  top: 626px;
}
.group-2553 {
  width: 204px;
  height: 38px;
  position: static;
}
.set-up-your-profile {
  color: #959595;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 302px;
  top: 652px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ellipse-23 {
  background: #484848;
  border-radius: 50%;
  border-style: solid;
  border-color: #2f2f2f;
  border-width: 1px;
  width: 38px;
  height: 38px;
  position: absolute;
  left: 237px;
  top: 642px;
}
._3 {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 250px;
  top: 649px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-text-stroke: 1px #2f2f2f;
}
.group-272 {
  width: 432px;
  height: 676px;
  position: static;
}
.group-271 {
  width: 366px;
  height: 68px;
  position: static;
}
.sing-up-account {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  left: 858px;
  top: 101px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-text-stroke: 1px #ffffff;
}
.enter-your-personal-data-to-create-your-accaunt {
  color: #747474;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 818px;
  top: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.group-264 {
  width: 432px;
  height: 60px;
  position: static;
}
.group-262 {
  width: 210px;
  height: 60px;
  position: static;
}
.rectangle-6 {
  background: rgba(64, 64, 64, 0);
  border-radius: 15px;
  border-style: solid;
  border-color: #191919;
  border-width: 3px;
  width: 210px;
  height: 60px;
  position: absolute;
  left: 785px;
  top: 209px;
}
.group-261 {
  width: 106px;
  height: 32px;
  position: static;
}
.google {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 875px;
  top: 227px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-text-stroke: 0.5px #ffffff;
}
.group-8 {
  width: 32px;
  height: 32px;
  position: absolute;
  left: 837px;
  top: 223px;
  overflow: visible;
}
.group-263 {
  width: 210px;
  height: 60px;
  position: static;
}
.rectangle-7 {
  background: rgba(64, 64, 64, 0);
  border-radius: 15px;
  border-style: solid;
  border-color: #191919;
  border-width: 3px;
  width: 210px;
  height: 60px;
  position: absolute;
  left: 1007px;
  top: 209px;
}
.group-34 {
  width: 105px;
  height: 32px;
  position: static;
}
.git-hub {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 1097px;
  top: 227px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-text-stroke: 0.5px #ffffff;
}
.vector {
  width: 2.5%;
  height: 3.85%;
  position: absolute;
  right: 14.77%;
  left: 82.73%;
  bottom: 69.35%;
  top: 26.8%;
  overflow: visible;
}
.group-11 {
  width: 401px;
  height: 24px;
  position: static;
}
.or {
  color: #656565;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 990px;
  top: 286px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rectangle-72 {
  background: #191919;
  width: 167px;
  height: 2px;
  position: absolute;
  left: 1035px;
  top: 299px;
}
.rectangle-8 {
  background: #191919;
  width: 167px;
  height: 2px;
  position: absolute;
  left: 801px;
  top: 299px;
}
.group-270 {
  width: 432px;
  height: 81px;
  position: static;
}
.group-266 {
  width: 210px;
  height: 81px;
  position: static;
}
.first-name {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 785px;
  top: 327px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.group-265 {
  width: 210px;
  height: 60px;
  position: static;
}
.rectangle-10 {
  background: #1d1d1d;
  border-radius: 11px;
  width: 210px;
  height: 60px;
  position: absolute;
  left: 785px;
  top: 348px;
}
.name {
  color: #7c7c7c;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 808px;
  top: 366px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.group-267 {
  width: 210px;
  height: 81px;
  position: static;
}
.last-name {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 1008px;
  top: 327px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rectangle-102 {
  background: #1d1d1d;
  border-radius: 11px;
  width: 210px;
  height: 60px;
  position: absolute;
  left: 1007px;
  top: 348px;
}
.last-name2 {
  color: #7c7c7c;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 1028px;
  top: 366px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.group-21 {
  width: 432px;
  height: 81px;
  position: static;
}
.rectangle-12 {
  background: #1d1d1d;
  border-radius: 11px;
  width: 432px;
  height: 60px;
  position: absolute;
  left: 785px;
  top: 449px;
}
.your-email-gmail-com {
  color: #7c7c7c;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-decoration: underline;
  position: absolute;
  left: 808px;
  top: 467px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.email {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 785px;
  top: 428px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.group-269 {
  width: 432px;
  height: 102px;
  position: static;
}
.group-268 {
  width: 432px;
  height: 81px;
  position: static;
}
.rectangle-122 {
  background: #1d1d1d;
  border-radius: 11px;
  width: 432px;
  height: 60px;
  position: absolute;
  left: 785px;
  top: 547px;
}
.enter-your-passworld {
  color: #7c7c7c;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 808px;
  top: 565px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.enter-your-passworld-span {
  text-decoration: underline;
}
.enter-your-passworld-span2 {
}
.passworld {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 785px;
  top: 526px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.must-be-at-least-8-characters {
  color: #676767;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13px;
  font-weight: 400;
  position: absolute;
  left: 785px;
  top: 612px;
  width: 208px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.group-23 {
  width: 432px;
  height: 105px;
  position: static;
}
.rectangle-144 {
  background: #cccccc;
  border-radius: 15px;
  width: 432px;
  height: 60px;
  position: absolute;
  left: 785px;
  top: 672px;
  box-shadow: 0px 0px 1.29px 0px rgba(204, 204, 204, 1),
    0px 0px 2.58px 0px rgba(204, 204, 204, 1),
    0px 0px 9.01px 0px rgba(204, 204, 204, 1),
    0px 0px 18.03px 0px rgba(204, 204, 204, 1),
    0px 0px 30.91px 0px rgba(204, 204, 204, 1),
    0px 0px 54.09px 0px rgba(204, 204, 204, 1);
}
.sing-up {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 963px;
  top: 690px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-text-stroke: 1px #000000;
}
.group-12 {
  width: 262px;
  height: 23px;
  position: static;
}
.already-have-an-accaunt {
  color: #676767;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  left: 865px;
  top: 754px;
  width: 204px;
  height: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.log-in {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  left: 1058px;
  top: 754px;
  width: 69px;
  height: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
}
